#root {
  width: 100%;
  height: 100%;
  position: absolute;
}

// $primary: #aac7ff;
// $secondary: #bec6dc;
// $success: #92d5ab;
// $info: #ddbce0;
// $warning: #ffb782;
// $danger: #ffb4ab;
// $light: #e2e2e9;
// $dark: #2e3036;

// $body-bg: #ffffff;
// $body-color: #191c20;

// $card-border-width: 0;
// $card-bg: #f9f9ff;

// $body-tertiary-color: #3f2844;
// $body-tertiary-bg: #f3f3fa;

// $secondary-text-emphasis: #283141;

// $progress-bar-color: $body-color;

$enable-reduced-motion: false;
$card-border-width: 0;

@import "./scss/light-mode.scss";

@import "bootstrap/scss/bootstrap";

[data-bs-theme="dark"] {
  --bs-body-bg: #000;
  --bs-body-color: #d6e3ff;

  .card {
    --bs-card-bg: #1e2024;
  }
  --bs-card-bg: #1e2024;

  --bs-body-tertiary-color: #ddbce0;
  --bs-body-tertiary-bg: #111318;
}

[data-bs-theme="light"] {
  --bs-body-bg: #{map-get($custom-colors, "background")};
  --bs-body-color: #{map-get($custom-colors, "text-primary")};

  .card {
    --bs-card-bg: #ededf4;
  }
  --bs-card-bg: #ededf4;

  --bs-body-tertiary-color: #705575;
  --bs-body-tertiary-bg: #f9f9ff;
}

@import "./components/CategoryCard.scss";

@import "./components/Navigation.scss";
@import "./components/TopBar.scss";
@import "./pages/Account.scss";

@media (max-width: 576px) {
  .maincontainer {
    height: calc(100vh - 73px - 57px) !important;
  }
}

.maincontainer {
  height: calc(100vh - 87px - 74px);
  overflow: auto;
}

.fallbackPersonAvatar {
  color: map-get($custom-colors, "secondary");
  background-color: var(--bs-card-bg);
}
