#root {
  width: 100%;
  height: 100%;
  position: absolute;
}

$enable-reduced-motion: false;
$card-border-width: 0;
$border-radius:               .375rem * 2;
$border-radius-sm:            .25rem * 2;
$border-radius-lg:            .5rem * 2;
$border-radius-xl:            1rem * 2;
$border-radius-xxl:           2rem * 2;
$border-radius-pill:          50rem;

@import "./scss/light-mode.scss";
@import "bootstrap/scss/bootstrap";


[data-bs-theme="dark"] {
  --bs-body-bg: #000;
  --bs-body-color: #d6e3ff;

  .card {
    --bs-card-bg: #1e2024;
  }
  --bs-card-bg: #1e2024;

  --bs-body-tertiary-color: #ddbce0;
  --bs-body-tertiary-bg: #111318;
}

[data-bs-theme="light"] {
  --bs-body-bg: #{map-get($custom-colors, "background")};
  --bs-body-color: #{map-get($custom-colors, "text-primary")};

  .card {
    --bs-card-bg: #ededf4;
  }
  --bs-card-bg: #ededf4;

  --bs-body-tertiary-color: #705575;
  --bs-body-tertiary-bg: #f9f9ff;
}

@import "./components/CategoryCard.scss";
@import "./components/NewsComponent.scss";
@import "./components/Navigation.scss";
@import "./components/TopBar.scss";
@import "./pages/Account.scss";

@media (max-width: 576px) {
  .maincontainer {
    height: calc(100vh - 73px - 57px - (100vh - 100%)) !important;
  }
}

.maincontainer {
  height: calc(100vh - 87px - 74px);
  overflow-y: auto;
  overflow-x: hidden;
  width: 100% !important;
}

.fallbackPersonAvatar {
  color: map-get($custom-colors, "secondary");
  background-color: var(--bs-card-bg);
}
