.category-card {
    border-radius: 20px;
    background-color: $card-bg;    
    overflow: hidden;
    max-height: 200px;
    user-select: none;
    transition: all .2s ease-in-out;
}

.category-card:hover {
    background-color: $body-tertiary-bg
}

.category-card-go-icon
{
    color: $body-color;
}