.category-card {
    display: grid;
    border-radius: 20px;
    background-color: var(--bs-card-bg);    
    overflow: hidden;
    max-height: 200px;
    user-select: none;
    transition: all .2s ease-in-out;
}

.category-card:hover {
    background-color: var(--bs-body-tertiary-bg)
}
