#topbar {
  background-color: $card-bg;
  user-select: none;
}

@include media-breakpoint-up(lg) {
  #topbar {
    border-radius: 0 0 30px 30px;
    padding-left: 2rem !important;
    padding-right: 2rem !important;
  }
}
@include media-breakpoint-up(xl) {
  #topbar {
    max-width: 90vw;
    width: 90vw;
  }
}

.logoicon
{
  color: $primary;
}