:root {
    --color1: #dbdada;
    --color2: rgb(178, 176, 176);
    --color3: rgb(152, 150, 150);
    --colorp: rgb(89, 2, 89);
    --colorlp: rgb(173, 115, 173);
    --colorb: rgb(22, 185, 0);
    --colorlg: rgb(0, 177, 204);
    --colorr: rgb(168, 0, 0);
    --colory: rgb(132, 132, 0);
  }

.acc {
    padding-top: 50px;
    border-radius: 10px;
}

.prog {
    padding-top: 50px;
}