:root {
    --color1: #e2e2e2;
    --color2: rgb(178, 176, 176);
    --color3: rgb(152, 150, 150);
    --colorp: purple;
    --colorb: blue;
    --colorlg: rgb(0, 221, 255);
    --colorr: red;
    --colory: yellow;
}

.progress {
    position: right;
}

.h1 {
    font-size: 210px;
}

/* Переход на другие страницы */

.forwhom {
    padding-top: 30px;
    padding-bottom: 30px;
    
    h5 {
        padding-top: 100px;
        border: 3px solid var(--color1);
        background-color: var(--color1);
        border-radius: 10px;
        margin: 0;
    }

    .buton {
        padding-top: 50px;
    }

    .row {
        padding-bottom: 0;
        margin-bottom: 0;
    }
}

/* Новая информация */



.about {
    padding-bottom: 30px;

    .text-news {
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: var(--color1);
        border-radius: 10px;
        margin-right: 10px;
        margin-left: 10px;
    }
}

.news {
    padding-bottom: 200px;

    .text-news {
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: var(--color1);
        border-radius: 10px;
        margin-left: 0;
        margin-right: 10px;
    }
}

/* Нижняя панель */

.navigator {
    .task-block {
        background-color: var(--color1);
        border-radius: 10px;
        margin: 10px;
        padding: 10px;

        h5 {
            color: black; /* Цвет текста */
        }
    }
}

/*  */

.up-button {
    margin-top: 5px;
}

.progress-up {
    margin-top: 20px;
}

.text-black {
    margin-top: 0;
}

.level {
    margin-top: 12px;
}

/*  */
